.big-cell{
    cursor: pointer;

}

.table-big{
    overflow-y: hidden
}

.cell-hover:hover { 
color:blue;
 cursor: pointer;
}

.icon-active{
    color:green;
}

.table-small{
    max-width: 600px;
    margin: 0 auto;
}
.map-geojson{
    height: 500px;
}
